@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/static/images/sea-pattern.png') repeat;
    background-size: 300px;
    background-attachment: fixed;
}

h1, h2, h3 {
    color: #01CFCD;
    text-align: center;
    font-size: 24px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button, .button {
    background-color: #01CFCD;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
}

button:hover, .button:hover {
    background-color: #019B9B;
}

button:active, .button:active {
    background-color: #017A7A;
    transform: translateY(2px);
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container label,
.form-container input,
.form-container select,
.form-container button,
.form-container textarea {
    margin: 5px 0;
    width: 100%;
    max-width: 400px;
    display: block;
}

.form-container input,
.form-container select,
.form-container textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card a {
    text-decoration: none;
    color: #019B9B;
    font-weight: bold;
}

.message {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    font-weight: 600;
}

.emergency-contact {
    margin: 10px 0;
    text-align: center;
}

.info-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 150px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
