<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprenda mais sobre a vida marinha!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <img src="/static/images/jellyfish-logo.png" alt="Jellyfish Logo" class="logo">
        <h1>Aprenda mais sobre a vida marinha!</h1>
        <div class="cards-container">
            {% for article in articles %}
            <div class="card">
                <h2>{{ article.title }}</h2>
                <p>{{ article.description }}</p>
                <a href="{{ article.link }}" target="_blank">Leia mais</a>
            </div>
            {% endfor %}
        </div>
        <div class="btn-container">
            <button class="button" onclick="location.href='/dashboard'">Voltar ao Dashboard</button>
        </div>
    </div>
</body>
</html>
