<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso</title>
    <link rel="stylesheet" href="/static/style.css">
            <style>
        .logo {
            display: block;
            margin: 0 auto 0px auto;
            width: 300px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="/static/images/jellyfish-logo.png" alt="Jellyfish Logo" class="logo">
        <h1>Operação bem-sucedida!</h1>
        <a href="/dashboard" class="button">Voltar ao Dashboard</a>
    </div>
</body>
</html>
